amh6dc_minimal_flow.json
[
    {
        "id": "tab_amh6dc_minimal",
        "type": "tab",
        "label": "AMH6DC Setpoint Control",
        "disabled": false,
        "info": "AMH6DC R290 Warmtepomp — Minimale Modbus sturing\n\nEnige schrijfopdracht: register 2 = watertemperatuur setpoint (°C)\nHP regelt zichzelf: compressor, pomp, ontdooien, etc.\n\nLogica:\n  PV > 3.5 kW EN buffer < 68°C → setpoint 72°C (max laden)\n  PV > 2.0 kW EN buffer < 68°C → setpoint 65°C (normaal laden)\n  Geen PV EN buffer < 38°C     → setpoint 45°C (nachtbijverwarming)\n  Buffer > 68°C                → setpoint 20°C (HP stopt vanzelf)\n\nAlle sensoren extern:\n  - PV opbrengst: uit omvormer API\n  - Buffertank temperatuur: eigen DS18B20 sensoren\n  - Buitentemperatuur: eigen sensor of weer-API\n\nVan HP via Modbus: alleen foutcode (reg 124), elke 60 sec"
    },
    {
        "id": "6043f8f890a5cbb1",
        "type": "modbus-client",
        "name": "AMH6DC RS485",
        "clienttype": "serial",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "127.0.0.1",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB0",
        "serialType": "RTU",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "unit_id": "1",
        "commandDelay": "100",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": false
    },

    {
        "id": "comment_inputs",
        "type": "comment",
        "z": "tab_amh6dc_minimal",
        "name": "── SECTIE 1: EXTERNE INVOER (vervang met eigen bronnen) ─────────────────────────────────",
        "info": "",
        "x": 370,
        "y": 40,
        "wires": []
    },
    {
        "id": "sim_pv",
        "type": "inject",
        "z": "tab_amh6dc_minimal",
        "name": "PV opbrengst (W) — vervang met omvormer API",
        "repeat": "30",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "pv_watt",
        "payload": "3800",
        "payloadType": "num",
        "x": 250,
        "y": 100,
        "wires": [["logic_node"]]
    },
    {
        "id": "sim_buffer_top",
        "type": "inject",
        "z": "tab_amh6dc_minimal",
        "name": "Buffer TOP temp (°C) — vervang met DS18B20",
        "repeat": "30",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "buffer_top",
        "payload": "52",
        "payloadType": "num",
        "x": 250,
        "y": 140,
        "wires": [["logic_node"]]
    },
    {
        "id": "sim_buffer_bot",
        "type": "inject",
        "z": "tab_amh6dc_minimal",
        "name": "Buffer ONDER temp (°C) — vervang met DS18B20",
        "repeat": "30",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "topic": "buffer_bot",
        "payload": "38",
        "payloadType": "num",
        "x": 250,
        "y": 180,
        "wires": [["logic_node"]]
    },

    {
        "id": "comment_logic",
        "type": "comment",
        "z": "tab_amh6dc_minimal",
        "name": "── SECTIE 2: SETPOINT LOGICA ────────────────────────────────────────────────────────────",
        "info": "",
        "x": 340,
        "y": 260,
        "wires": []
    },
    {
        "id": "logic_node",
        "type": "function",
        "z": "tab_amh6dc_minimal",
        "name": "Bereken Setpoint",
        "func": "// Sla inkomende waarden op in flow context\n// zodat alle drie bronnen beschikbaar zijn bij elke berekening\nif (msg.topic === 'pv_watt')    flow.set('pv_watt',    Number(msg.payload));\nif (msg.topic === 'buffer_top') flow.set('buffer_top', Number(msg.payload));\nif (msg.topic === 'buffer_bot') flow.set('buffer_bot', Number(msg.payload));\n\nvar pv         = flow.get('pv_watt')    || 0;\nvar bufferTop  = flow.get('buffer_top') || 0;\nvar bufferBot  = flow.get('buffer_bot') || 0;\n\n// Wacht tot alle drie waarden bekend zijn\nif (pv === 0 && bufferTop === 0 && bufferBot === 0) return null;\n\nvar setpoint;\nvar reden;\n\n// Prioriteit 1: buffer vol → HP hoeft niet te draaien\nif (bufferTop >= 68) {\n    setpoint = 20;\n    reden = 'Buffer vol (top=' + bufferTop + 'C) → setpoint 20C, HP stopt';\n\n// Prioriteit 2: sterk zonne-surplus → maximaal laden\n} else if (pv >= 3500) {\n    setpoint = 72;\n    reden = 'Sterk zonne-surplus (' + pv + 'W) → setpoint 72C';\n\n// Prioriteit 3: matig zonne-surplus → normaal laden\n} else if (pv >= 2000) {\n    setpoint = 65;\n    reden = 'Matig zonne-surplus (' + pv + 'W) → setpoint 65C';\n\n// Prioriteit 4: geen surplus, buffer laag → nachtbijverwarming\n} else if (bufferBot < 38) {\n    setpoint = 45;\n    reden = 'Buffer laag (onder=' + bufferBot + 'C) → setpoint 45C, nachtbijverwarming';\n\n// Prioriteit 5: geen actie nodig\n} else {\n    setpoint = 20;\n    reden = 'Geen surplus, buffer voldoende → setpoint 20C, HP inactief';\n}\n\n// Schrijf alleen als setpoint veranderd is (vermijd onnodige Modbus-schrijfacties)\nvar lastSetpoint = flow.get('last_setpoint') || -1;\nif (setpoint === lastSetpoint) return null;\n\nflow.set('last_setpoint', setpoint);\n\nnode.log('Setpoint → ' + setpoint + 'C | ' + reden);\n\nmsg.payload = {\n    value:   [setpoint],\n    unitid:  1,\n    fc:      6,\n    address: 2\n};\nmsg.topic   = 'SETPOINT_' + setpoint + 'C';\nmsg.reden   = reden;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "x": 560,
        "y": 160,
        "wires": [["write_setpoint", "log_setpoint"]]
    },

    {
        "id": "comment_write",
        "type": "comment",
        "z": "tab_amh6dc_minimal",
        "name": "── SECTIE 3: MODBUS SCHRIJVEN (alleen reg 2) ────────────────────────────────────────────",
        "info": "",
        "x": 360,
        "y": 340,
        "wires": []
    },
    {
        "id": "write_setpoint",
        "type": "modbus-flex-write",
        "z": "tab_amh6dc_minimal",
        "name": "Schrijf Setpoint → Reg 2",
        "showStatusActivities": true,
        "showErrors": true,
        "showWarnings": true,
        "server": "6043f8f890a5cbb1",
        "emptyMsgOnFail": false,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 820,
        "y": 160,
        "wires": [
            ["debug_write"],
            ["error_handler"]
        ]
    },
    {
        "id": "debug_write",
        "type": "debug",
        "z": "tab_amh6dc_minimal",
        "name": "✓ Setpoint Geschreven",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "reden",
        "targetType": "msg",
        "statusVal": "reden",
        "statusType": "auto",
        "x": 1060,
        "y": 160,
        "wires": []
    },
    {
        "id": "log_setpoint",
        "type": "function",
        "z": "tab_amh6dc_minimal",
        "name": "Log Setpointwijziging",
        "func": "var d = msg.payload;\nvar written = flow.get('sp_hdr') || false;\nvar out = '';\nif (!written) {\n    out = 'timestamp,setpoint_C,pv_watt,buffer_top,buffer_bot,reden\\n';\n    flow.set('sp_hdr', true);\n}\nout += [\n    new Date().toISOString(),\n    d.value[0],\n    flow.get('pv_watt')    || 0,\n    flow.get('buffer_top') || 0,\n    flow.get('buffer_bot') || 0,\n    '\"' + (msg.reden || '') + '\"'\n].join(',') + '\\n';\nmsg.payload  = out;\nmsg.filename = '/home/student/modbus/amh6dc_setpoints.csv';\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "x": 820,
        "y": 220,
        "wires": [["file_setpoint_log"]]
    },
    {
        "id": "file_setpoint_log",
        "type": "file",
        "z": "tab_amh6dc_minimal",
        "name": "amh6dc_setpoints.csv",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "utf8",
        "x": 1060,
        "y": 220,
        "wires": [[]]
    },

    {
        "id": "comment_monitor",
        "type": "comment",
        "z": "tab_amh6dc_minimal",
        "name": "── SECTIE 4: FOUTCODE MONITORING (elke 60 sec) ──────────────────────────────────────────",
        "info": "",
        "x": 370,
        "y": 320,
        "wires": []
    },
    {
        "id": "poll_error",
        "type": "inject",
        "z": "tab_amh6dc_minimal",
        "name": "Check foutcode elke 60 sec",
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "foutcode_poll",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 400,
        "wires": [["read_error"]]
    },
    {
        "id": "read_error",
        "type": "modbus-getter",
        "z": "tab_amh6dc_minimal",
        "name": "Lees Foutcode Reg 124",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "124",
        "quantity": "1",
        "server": "6043f8f890a5cbb1",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "x": 480,
        "y": 400,
        "wires": [["parse_error"], ["error_handler"]]
    },
    {
        "id": "parse_error",
        "type": "function",
        "z": "tab_amh6dc_minimal",
        "name": "Vertaal Foutcode",
        "func": "var errorCodes = {\n    1:'E0 Waterstroomfout',\n    3:'E2 Communicatiefout controller/hydraulisch',\n    4:'E3 Uitvoerwatertemperatuursensor T1 defect',\n    5:'E4 Tapwatervatsensor T5 defect',\n    6:'E5 Condensatorsensor T3 defect',\n    7:'E6 Buitenluchttemperatuursensor T4 defect',\n    8:'E7 Buffertank boven sensor Tbt1 defect',\n    9:'E8 Waterstroomstoring',\n    10:'E9 Inzuigtemperatuursensor Th defect',\n    11:'EA Uitlaattemperatuursensor Tp defect',\n    13:'Ec Buffertank onder sensor Tbt2 defect',\n    14:'Ed Waterinlaattemperatuursensor Tw_in defect',\n    20:'P0 Lagedrukschakelaarprotectie',\n    21:'P1 Hogedrukschakelaarprotectie',\n    23:'P3 Compressor overcurrent',\n    24:'P4 Hoge uitlaattemperatuur',\n    25:'P5 dT water te groot',\n    26:'P6 Omvormmodule storing',\n    31:'Pb Antibevriezingsbedrijf',\n    38:'PP Tw_out-Tw_in afwijkend',\n    39:'H0 Hoofdprint communicatiefout',\n    41:'H2 Koudemiddel vloeistoftemperatuursensor T2 defect',\n    45:'H6 DC-ventilatormotor storing',\n    46:'H7 Spanningsprotectie',\n    57:'HP Lagedrukprotectie'\n};\n\nvar code = msg.payload[0];\n\nif (code === 0) {\n    // Geen fout — geen actie, geen debug spam\n    return null;\n}\n\nvar omschrijving = errorCodes[code] || 'Onbekende foutcode ' + code;\nnode.warn('HP FOUT: ' + omschrijving);\n\nmsg.payload = {\n    timestamp:    new Date().toISOString(),\n    foutcode:     code,\n    omschrijving: omschrijving\n};\nmsg.topic = 'HP_FOUT';\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "x": 700,
        "y": 400,
        "wires": [["debug_error_code", "log_error_code"]]
    },
    {
        "id": "debug_error_code",
        "type": "debug",
        "z": "tab_amh6dc_minimal",
        "name": "⚠️ HP Fout",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 900,
        "y": 380,
        "wires": []
    },
    {
        "id": "log_error_code",
        "type": "function",
        "z": "tab_amh6dc_minimal",
        "name": "Log Fout",
        "func": "var d = msg.payload;\nvar written = flow.get('err_hdr') || false;\nvar out = '';\nif (!written) {\n    out = 'timestamp,foutcode,omschrijving\\n';\n    flow.set('err_hdr', true);\n}\nout += [d.timestamp, d.foutcode, '\"' + d.omschrijving + '\"'].join(',') + '\\n';\nmsg.payload  = out;\nmsg.filename = '/home/student/modbus/amh6dc_fouten.csv';\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "x": 900,
        "y": 420,
        "wires": [["file_error_log"]]
    },
    {
        "id": "file_error_log",
        "type": "file",
        "z": "tab_amh6dc_minimal",
        "name": "amh6dc_fouten.csv",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "utf8",
        "x": 1080,
        "y": 400,
        "wires": [[]]
    },

    {
        "id": "comment_errors",
        "type": "comment",
        "z": "tab_amh6dc_minimal",
        "name": "── SECTIE 5: MODBUS FOUTAFHANDELING ─────────────────────────────────────────────────────",
        "info": "",
        "x": 350,
        "y": 500,
        "wires": []
    },
    {
        "id": "catch_all",
        "type": "catch",
        "z": "tab_amh6dc_minimal",
        "name": "Catch Alle Fouten",
        "scope": null,
        "uncaught": false,
        "x": 220,
        "y": 560,
        "wires": [["error_handler"]]
    },
    {
        "id": "error_handler",
        "type": "function",
        "z": "tab_amh6dc_minimal",
        "name": "Modbus Fout Handler",
        "func": "var errMsg = '';\nif (msg.error && msg.error.message) {\n    errMsg = msg.error.message;\n} else if (typeof msg.payload === 'string') {\n    errMsg = msg.payload;\n} else {\n    errMsg = JSON.stringify(msg.payload || 'onbekend');\n}\n\nvar source = msg.topic || 'modbus';\nnode.error('Modbus fout [' + source + ']: ' + errMsg);\n\nmsg.payload      = errMsg;\nmsg.error_detail = errMsg;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "x": 480,
        "y": 560,
        "wires": [["debug_modbus_error"]]
    },
    {
        "id": "debug_modbus_error",
        "type": "debug",
        "z": "tab_amh6dc_minimal",
        "name": "Modbus Fout",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "error_detail",
        "targetType": "msg",
        "x": 700,
        "y": 560,
        "wires": []
    }
]
